Repository asonnino/move-native: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898e2cef002c653bde4cfe9aefe89019cbb8
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.2
    hooks:
      - id: typos
        pass_filenames: false
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: rust
        types: [toml]
        args: []
        additional_dependencies: ["taplo-cli:0.10.0"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        language: python
        types: [shell]
        require_serial: true
        additional_dependencies: ["shellcheck-py==0.11.0.1"]

      # Rust hooks
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        files: &rust-files-pattern ^(crates/|Cargo\.(toml|lock)|rust-toolchain\.toml$)
        pass_filenames: false
      - id: cargo-check
        name: cargo-check
        entry: cargo check
        language: system
        files: *rust-files-pattern
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run --no-tests=warn
        language: system
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml|rust-toolchain\.toml$)
        pass_filenames: false
      - id: cargo-doctests
        name: cargo-doctests
        entry: cargo test --doc
        language: system
        files: *rust-files-pattern
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: system
        files: *rust-files-pattern
        pass_filenames: false

cI: added basic CI
  .github/actions/diffs/action.yaml
  .github/workflows/code.yaml
  .github/workflows/lint.yaml
  .yamlfmt.yml
  crates/move-to-llvm/src/function.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: improve cov
  .gitignore
  crates/cfg/src/arm64.rs
  crates/runtime/src/lib.rs
  crates/runtime/tests/integration.rs
  crates/verifier/src/decode.rs
  crates/verifier/src/gas.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

ci: run on arm
  .github/workflows/code.yaml
Due: none

refactor: track docs
  .gitignore
  osdi25-yedidia.pdf
Due: none

test: improve cov
  crates/cfg/src/block_graph.rs
  crates/instrumenter/src/parser.rs
  crates/verifier/src/gas.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

ci: try fix
  .editorconfig
  .github/workflows/code.yaml
  .github/workflows/lint.yaml
Due: none

feat: support loops
  Cargo.lock
  crates/move-to-llvm/Cargo.toml
  crates/move-to-llvm/src/codegen.rs
  crates/move-to-llvm/tests/integration.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: refs
  crates/move-to-llvm/src/context.rs
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/lib.rs
  crates/move-to-llvm/src/types.rs
  crates/move-to-llvm/tests/integration.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: handle generics (draft)
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/lib.rs
  crates/move-to-llvm/src/mangle.rs
  crates/move-to-llvm/src/types.rs
  crates/move-to-llvm/tests/integration.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: implement easy additional features
  Cargo.lock
  crates/move-to-llvm/Cargo.toml
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/types.rs
  crates/move-to-llvm/tests/integration.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: compiler
  Cargo.lock
  crates/move-to-llvm/Cargo.toml
  crates/move-to-llvm/src/assembly.rs
  crates/move-to-llvm/src/codegen.rs
  crates/move-to-llvm/src/compiler.rs
  crates/move-to-llvm/src/context.rs
  crates/move-to-llvm/src/error.rs
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/mod.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/lib.rs
  crates/move-to-llvm/src/mangle.rs
  crates/move-to-llvm/src/types.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: simplify arch
  .vscode/settings.json
  crates/move-to-llvm/src/compiler.rs
  crates/move-to-llvm/src/context.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/mod.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/lib.rs
  crates/move-to-llvm/src/mangle.rs
  crates/move-to-llvm/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: isolate target deps
  .vscode/settings.json
  crates/move-to-llvm/src/assembly.rs
  crates/move-to-llvm/src/compiler.rs
  crates/move-to-llvm/src/lib.rs
  crates/move-to-llvm/src/main.rs
  crates/move-to-llvm/src/target.rs
  crates/move-to-llvm/tests/integration.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: thiner function lowering
  .vscode/settings.json
  crates/move-to-llvm/src/compiler.rs
  crates/move-to-llvm/src/context.rs
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/mod.rs
  crates/move-to-llvm/src/function/state.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/function/structs.rs
  crates/move-to-llvm/src/main.rs
  crates/move-to-llvm/src/mangle.rs
  crates/move-to-llvm/src/target.rs
  crates/move-to-llvm/src/types.rs
  crates/move-to-llvm/tests/integration.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: error propagation in fun
  crates/move-to-llvm/src/error.rs
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/state.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/function/structs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: small renaming
  crates/move-to-llvm/src/error.rs
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/state.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/function/structs.rs
  crates/move-to-llvm/src/mangle.rs
  crates/move-to-llvm/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: error type
  crates/move-to-llvm/src/assembly.rs
  crates/move-to-llvm/src/compiler.rs
  crates/move-to-llvm/src/context.rs
  crates/move-to-llvm/src/error.rs
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/state.rs
  crates/move-to-llvm/src/mangle.rs
  crates/move-to-llvm/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: various style improvements
  crates/move-to-llvm/src/assembly.rs
  crates/move-to-llvm/src/context.rs
  crates/move-to-llvm/src/error.rs
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/state.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/function/structs.rs
  crates/move-to-llvm/src/lib.rs
  crates/move-to-llvm/src/mangle.rs
  crates/move-to-llvm/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: unit tests
  crates/move-to-llvm/src/assembly.rs
  crates/move-to-llvm/src/context.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/mangle.rs
  crates/move-to-llvm/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: more unit tests
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/state.rs
  crates/move-to-llvm/src/lib.rs
  crates/move-to-llvm/src/test_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: more unit tests
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/state.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/function/structs.rs
  crates/move-to-llvm/src/test_utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: more unit tests
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/function/structs.rs
  crates/move-to-llvm/src/lib.rs
  crates/move-to-llvm/src/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: more robust compilation
  crates/move-to-llvm/src/context.rs
  crates/move-to-llvm/src/error.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/state.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/function/structs.rs
  crates/move-to-llvm/src/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: more bad path cases
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/structs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: more tests
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/structs.rs
  crates/move-to-llvm/src/lib.rs
  crates/move-to-llvm/src/module.rs
  crates/move-to-llvm/src/module/all_features.rs
  crates/move-to-llvm/tests/common/mod.rs
  crates/move-to-llvm/tests/integration.rs
  crates/move-to-llvm/tests/move_contracts.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: small re-org
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/module/all_features.rs
  crates/move-to-llvm/tests/move_contracts.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: test utils
  crates/move-to-llvm/src/compiler.rs
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/function/structs.rs
  crates/move-to-llvm/src/module.rs
  crates/move-to-llvm/src/module/fixtures.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: test utils
  CLAUDE.md
  Cargo.lock
  crates/move-to-llvm/Cargo.toml
  crates/move-to-llvm/src/assembly.rs
  crates/move-to-llvm/src/compiler.rs
  crates/move-to-llvm/src/function.rs
  crates/move-to-llvm/src/function/arithmetic.rs
  crates/move-to-llvm/src/function/calls.rs
  crates/move-to-llvm/src/function/constants.rs
  crates/move-to-llvm/src/function/control_flow.rs
  crates/move-to-llvm/src/function/storage.rs
  crates/move-to-llvm/src/function/structs.rs
  crates/move-to-llvm/src/target.rs
  crates/move-to-llvm/tests/common/mod.rs
  crates/move-to-llvm/tests/integration.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

deps: simplify deps
  Cargo.lock
  Cargo.toml
  crates/cfg/Cargo.toml
  crates/instrumenter/Cargo.toml
  crates/move-to-llvm/Cargo.toml
  crates/runtime/Cargo.toml
  crates/verifier/Cargo.toml
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: integration test
  crates/move-to-llvm/src/compiler.rs
  crates/move-to-llvm/src/context.rs
  crates/move-to-llvm/src/module.rs
  crates/move-to-llvm/src/module/all_features.rs
  crates/move-to-llvm/tests/integration.rs
  crates/move-to-llvm/tests/move_contracts.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: rename compiler module
  .claude/agents/rust-architect.md
  Cargo.lock
  Cargo.toml
  crates/compiler/Cargo.toml
  crates/compiler/src/assembly.rs
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/error.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/function/storage.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/src/lib.rs
  crates/compiler/src/main.rs
  crates/compiler/src/mangle.rs
  crates/compiler/src/module.rs
  crates/compiler/src/module/all_features.rs
  crates/compiler/src/module/fixtures.rs
  crates/compiler/src/target.rs
  crates/compiler/src/types.rs
  crates/compiler/tests/integration.rs
  crates/compiler/tests/move_contracts.rs
  tests/move_samples/add.move
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: renaming and restructure compiler fixture
  Cargo.lock
  Cargo.toml
  crates/compiler/src/module/all_features.rs
  crates/compiler/tests/integration.rs
  crates/graph/Cargo.toml
  crates/graph/src/arm64.rs
  crates/graph/src/block_graph.rs
  crates/graph/src/builder.rs
  crates/graph/src/call_graph.rs
  crates/graph/src/lib.rs
  crates/graph/src/traits.rs
  crates/instrumenter/Cargo.toml
  crates/instrumenter/src/instrument.rs
  crates/instrumenter/src/lib.rs
  crates/instrumenter/src/parser.rs
  crates/verifier/Cargo.toml
  crates/verifier/src/decode.rs
  crates/verifier/src/gas.rs
  crates/verifier/src/lib.rs
  crates/verifier/src/stack.rs
  crates/verifier/src/verify.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: support phamtom
  crates/compiler/src/compiler.rs
  crates/compiler/src/module.rs
  crates/compiler/src/module/fixtures.rs
  crates/compiler/src/types.rs
  crates/compiler/tests/move_contracts.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: move control flow
  crates/compiler/tests/move_contracts.rs
  tests/move_samples/control_flow.move
  tests/move_samples/control_flow.mv
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: test infra
  crates/compiler/src/compiler.rs
  crates/compiler/src/module.rs
  crates/compiler/src/module/basic.rs
  crates/compiler/src/module/builder.rs
  crates/compiler/src/module/framework.rs
  crates/compiler/src/module/kitchen_sink.rs
  crates/compiler/tests/custom.rs
  crates/compiler/tests/smoke.rs
  crates/compiler/tests/stdlib.rs
  crates/compiler/tests/sui.rs
  crates/compiler/tests/sui_framework.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

fix: typo in groth16
  _typos.toml
  crates/compiler/src/function/calls.rs
  crates/compiler/tests/stdlib.rs
  crates/compiler/tests/sui.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: more custom move
  crates/compiler/tests/custom.rs
  tests/move_samples/custom/add.move
  tests/move_samples/custom/add.mv
  tests/move_samples/custom/bitmath.move
  tests/move_samples/custom/bitmath.mv
  tests/move_samples/custom/checked_math.move
  tests/move_samples/custom/checked_math.mv
  tests/move_samples/custom/control_flow.move
  tests/move_samples/custom/control_flow.mv
  tests/move_samples/custom/generics.move
  tests/move_samples/custom/generics.mv
  tests/move_samples/custom/geometry.move
  tests/move_samples/custom/geometry.mv
  tests/move_samples/custom/objects.move
  tests/move_samples/custom/objects.mv
  tests/move_samples/custom/vectors.move
  tests/move_samples/custom/vectors.mv
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

fix: too stringent debug assert
  crates/compiler/src/assembly.rs
  crates/compiler/tests/stdlib.rs
  crates/compiler/tests/sui.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy
