Repository asonnino/move-native: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: rust
  args: []
  additional_dependencies:
  - taplo-cli:0.10.0

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check
  language: system
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run --no-tests=warn
  language: system
  pass_filenames: false

cargo-doctests:
  name: cargo-doctests
  entry: cargo test --doc
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

ci: make zero-knowledge opt-in; test it in a dedicated release job
  .github/workflows/code.yaml
  Cargo.toml
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

ci: install protoc for SP1's prost-build
  .github/workflows/code.yaml
Due: none

ci: pin editorconfig-checker to 2.7.3 (restore prior behavior)
  .github/workflows/lint.yaml
Due: none

refactor: simplify arch
  .claude/agent-memory/test-coverage-analyst/MEMORY.md
  Cargo.lock
  Cargo.toml
  crates/compiler/src/codegen.rs
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/function/storage.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/src/lib.rs
  crates/compiler/src/module.rs
  crates/compiler/src/module/builder.rs
  crates/compiler/src/target.rs
  crates/compiler/src/types.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: zk examples and tests
  .claude/agent-memory/test-coverage-analyst/project_zk_crate_testing.md
  Cargo.lock
  crates/zero-knowledge/Cargo.toml
  crates/zero-knowledge/examples/prove_add.rs
  crates/zero-knowledge/src/lib.rs
  crates/zero-knowledge/src/main.rs
  crates/zero-knowledge/src/pipeline.rs
  crates/zero-knowledge/src/stub.rs
  crates/zero-knowledge/tests/custom.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

ci: install editorconfig-checker from its GitHub release
  .github/workflows/lint.yaml
Due: none

feat: simple zk example
  crates/zero-knowledge/Cargo.toml
  crates/zero-knowledge/src/error.rs
  crates/zero-knowledge/src/linker.rs
  crates/zero-knowledge/src/main.rs
  crates/zero-knowledge/src/proof.rs
  crates/zero-knowledge/src/stub.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

docs: building & testing notes (LLVM prefix, --release for real prover)
  CLAUDE.md
Due: none

refactor(zk): SP1 SHA-256 commitment as layered IR codegen
  Cargo.lock
  crates/zero-knowledge/Cargo.toml
  crates/zero-knowledge/src/lib.rs
  crates/zero-knowledge/src/pipeline.rs
  crates/zero-knowledge/src/sp1.rs
  crates/zero-knowledge/src/sp1/ir.rs
  crates/zero-knowledge/src/sp1/sha256.rs
  crates/zero-knowledge/src/sp1/syscall.rs
  crates/zero-knowledge/src/stub.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat(compiler): IR-level function injection + RISC-V M extension
  crates/compiler/src/compiler.rs
  crates/compiler/src/inject.rs
  crates/compiler/src/lib.rs
  crates/compiler/src/target.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

ci: run heavy cargo hooks (check/test/doctests/clippy) at pre-push
  .pre-commit-config.yaml
Due: none

test(zk): gated real-prover test + honest mock naming
  crates/zero-knowledge/src/proof.rs
  crates/zero-knowledge/tests/custom.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

fix(zk): declare a ~{memory} clobber on the SP1 ecalls
  crates/zero-knowledge/src/sp1/syscall.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat(compiler): test-util feature for downstream IR-codegen tests
  crates/compiler/Cargo.toml
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/module.rs
  crates/compiler/src/module/basic.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test(zk): unit-test the sp1 codegen, proof, pipeline, and linker
  crates/zero-knowledge/Cargo.toml
  crates/zero-knowledge/src/linker.rs
  crates/zero-knowledge/src/pipeline.rs
  crates/zero-knowledge/src/proof.rs
  crates/zero-knowledge/src/sp1.rs
  crates/zero-knowledge/src/sp1/sha256.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

docs: run any SP1 test with --release
  CLAUDE.md
Due: none

docs: rewrite README with minimal overview and quick start
  README.md
Due: none

docs: rewrite README with minimal overview and quick start (#32)
  README.md
Due: none

fix(zk): i32 SHA scratch buffers (32-bit words for SP1 precompiles)
  crates/zero-knowledge/src/sp1.rs
  crates/zero-knowledge/src/sp1/ir.rs
  crates/zero-knowledge/src/sp1/sha256.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: ^(crates/|Cargo\.(toml|lock)|rust-toolchain\.toml$)
  cargo-check: any of: ^(crates/|Cargo\.(toml|lock)|rust-toolchain\.toml$)
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml|rust-toolchain\.toml$)
  cargo-doctests: any of: ^(crates/|Cargo\.(toml|lock)|rust-toolchain\.toml$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)|rust-toolchain\.toml$)
