Repository asonnino/move-native: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898e2cef002c653bde4cfe9aefe89019cbb8
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.2
    hooks:
      - id: typos
        pass_filenames: false
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: rust
        types: [toml]
        args: []
        additional_dependencies: ["taplo-cli:0.10.0"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        language: python
        types: [shell]
        require_serial: true
        additional_dependencies: ["shellcheck-py==0.11.0.1"]

      # Rust hooks
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        files: &rust-files-pattern ^(crates/|Cargo\.(toml|lock)|rust-toolchain\.toml$)
        pass_filenames: false
      - id: cargo-check
        name: cargo-check
        entry: cargo check
        language: system
        files: *rust-files-pattern
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run --no-tests=warn
        language: system
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml|rust-toolchain\.toml$)
        pass_filenames: false
      - id: cargo-doctests
        name: cargo-doctests
        entry: cargo test --doc
        language: system
        files: *rust-files-pattern
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: system
        files: *rust-files-pattern
        pass_filenames: false

refactor: error propagation
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/error.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/mangle.rs
  crates/compiler/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: assembly api
  Cargo.lock
  Cargo.toml
  crates/compiler/Cargo.toml
  crates/compiler/src/assembly.rs
  crates/compiler/src/compiler.rs
  crates/compiler/src/main.rs
  crates/compiler/tests/smoke.rs
  crates/instrumenter/Cargo.toml
  crates/instrumenter/src/main.rs
  crates/verifier/src/main.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: expand eq support
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/module/kitchen_sink.rs
  crates/compiler/tests/smoke.rs
  crates/compiler/tests/stdlib.rs
  crates/compiler/tests/sui.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

fix: phantom generic calls
  crates/compiler/src/compiler.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/module/kitchen_sink.rs
  crates/compiler/tests/smoke.rs
  crates/compiler/tests/sui.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: handle byte array vec
  crates/compiler/src/compiler.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/state.rs
  crates/compiler/tests/stdlib.rs
  crates/compiler/tests/sui.rs
  crates/runner/Cargo.toml
  crates/runner/src/assembler.rs
  crates/runner/src/error.rs
  crates/runner/src/lib.rs
  crates/runner/src/main.rs
  crates/runner/src/pipeline.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: handle artithmetic overflows
  .claude/agents/test-coverage-analyst.md
  crates/compiler/src/assembly.rs
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/tests/custom.rs
  crates/compiler/tests/smoke.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: better error handling
  .claude/agent-memory/test-coverage-analyst/MEMORY.md
  .claude/agent-memory/test-coverage-analyst/project_compiler_test_patterns.md
  AGENTS.md
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/tests/smoke.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: explicit support for enums and layouts
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/error.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/src/layout.rs
  crates/compiler/src/lib.rs
  crates/compiler/src/mangle.rs
  crates/compiler/src/types.rs
  crates/compiler/tests/sui.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

fix: panics vs errors
  .claude/agent-memory/test-coverage-analyst/project_compiler_test_patterns.md
  crates/compiler/src/assembly.rs
  crates/compiler/src/error.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/function/storage.rs
  crates/compiler/src/function/structs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: better coverage
  crates/compiler/src/assembly.rs
  crates/compiler/src/context.rs
  crates/compiler/src/error.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/src/layout.rs
  crates/compiler/src/module/basic.rs
  crates/compiler/src/module/builder.rs
  crates/compiler/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: better error handling
  crates/compiler/src/context.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/mangle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: extract helpers
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/error.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/function/storage.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/src/layout.rs
  crates/compiler/src/mangle.rs
  crates/compiler/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: extract helpers
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/function/storage.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/src/layout.rs
  crates/compiler/src/module/basic.rs
  crates/compiler/src/module/builder.rs
  crates/compiler/src/module/framework.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: extract helpers
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/storage.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/src/layout.rs
  crates/compiler/src/mangle.rs
  crates/compiler/src/module.rs
  crates/compiler/src/module/bundle.rs
  crates/compiler/src/types.rs
  crates/compiler/tests/custom.rs
  crates/compiler/tests/stdlib.rs
  crates/compiler/tests/sui.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: add risc-v as compile target
  crates/compiler/src/assembly.rs
  crates/compiler/src/module/bundle.rs
  crates/compiler/src/target.rs
  crates/compiler/tests/riscv.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: adapt compiler for zk
  Cargo.lock
  Cargo.toml
  crates/compiler/src/compiler.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/src/mangle.rs
  crates/compiler/src/module/bundle.rs
  crates/compiler/tests/custom.rs
  crates/compiler/tests/riscv.rs
  crates/compiler/tests/smoke.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: support object files
  .vscode/settings.json
  Cargo.lock
  crates/compiler/Cargo.toml
  crates/compiler/src/assembly.rs
  crates/compiler/src/codegen.rs
  crates/compiler/src/compiler.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/lib.rs
  crates/compiler/src/module/basic.rs
  crates/compiler/src/module/bundle.rs
  crates/compiler/src/object_file.rs
  crates/compiler/tests/smoke.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: compile object file tests
  .claude/agent-memory/test-coverage-analyst/project_compiler_test_patterns.md
  crates/compiler/Cargo.toml
  crates/compiler/src/object_file.rs
  crates/compiler/tests/object.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: remove linker from compiler crate
  .vscode/settings.json
  Cargo.lock
  crates/compiler/Cargo.toml
  crates/compiler/src/lib.rs
  crates/compiler/src/module.rs
  crates/compiler/src/module/bundle.rs
  crates/compiler/src/module/info.rs
  crates/compiler/src/object_file.rs
  crates/compiler/tests/object.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: refine unit tests
  crates/compiler/src/compiler.rs
  crates/compiler/src/module/info.rs
  crates/compiler/tests/object.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: risc-v tests
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/compiler/Cargo.toml
  crates/compiler/src/module/bundle.rs
  crates/compiler/src/target.rs
  crates/compiler/tests/custom.rs
  crates/compiler/tests/deepbook.rs
  crates/compiler/tests/riscv.rs
  crates/compiler/tests/smoke.rs
  crates/compiler/tests/stdlib.rs
  crates/compiler/tests/sui_framework.rs
  crates/compiler/tests/suins.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

fix: minor issues
  crates/compiler/src/codegen.rs
  crates/compiler/src/compiler.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/mangle.rs
  crates/compiler/src/module/info.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: strengthen asserst
  .vscode/settings.json
  crates/compiler/src/compiler.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/tests/custom.rs
  crates/compiler/tests/smoke.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

refactor: simplify arch
  .claude/agent-memory/test-coverage-analyst/MEMORY.md
  Cargo.lock
  Cargo.toml
  crates/compiler/src/codegen.rs
  crates/compiler/src/compiler.rs
  crates/compiler/src/context.rs
  crates/compiler/src/function.rs
  crates/compiler/src/function/arithmetic.rs
  crates/compiler/src/function/calls.rs
  crates/compiler/src/function/constants.rs
  crates/compiler/src/function/control_flow.rs
  crates/compiler/src/function/enums.rs
  crates/compiler/src/function/state.rs
  crates/compiler/src/function/storage.rs
  crates/compiler/src/function/structs.rs
  crates/compiler/src/lib.rs
  crates/compiler/src/module.rs
  crates/compiler/src/module/builder.rs
  crates/compiler/src/target.rs
  crates/compiler/src/types.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: simple zk example
  crates/zero-knowledge/Cargo.toml
  crates/zero-knowledge/src/error.rs
  crates/zero-knowledge/src/linker.rs
  crates/zero-knowledge/src/main.rs
  crates/zero-knowledge/src/proof.rs
  crates/zero-knowledge/src/stub.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

feat: zk examples and tests
  .claude/agent-memory/test-coverage-analyst/project_zk_crate_testing.md
  Cargo.lock
  crates/zero-knowledge/Cargo.toml
  crates/zero-knowledge/examples/prove_add.rs
  crates/zero-knowledge/src/lib.rs
  crates/zero-knowledge/src/main.rs
  crates/zero-knowledge/src/pipeline.rs
  crates/zero-knowledge/src/stub.rs
  crates/zero-knowledge/tests/custom.rs
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

ci: install LLVM 18 from Ubuntu repos; skip upstream-blocked variant_switch
  .github/workflows/code.yaml
  crates/compiler/src/function/control_flow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

ci: install protoc for SP1's prost-build
  .github/workflows/code.yaml
Due: none

ci: make zero-knowledge opt-in; test it in a dedicated release job
  .github/workflows/code.yaml
  Cargo.toml
Due: taplo-format, cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

test: make kitchen_sink symbol assertions platform-agnostic
  crates/compiler/tests/smoke.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

ci: deduplicate job setup, tighten gating, add dependabot
  .github/actions/diffs/action.yaml
  .github/actions/rust-setup/action.yaml
  .github/dependabot.yml
  .github/workflows/code.yaml
  .github/workflows/lint.yaml
Due: none

test: ignore coin_registry/payment (upstream VariantSwitch panic)
  crates/compiler/tests/sui_framework.rs
  crates/compiler/tests/suins.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-doctests, clippy

ci: install editorconfig-checker from its GitHub release
  .github/workflows/lint.yaml
Due: none

ci: pin editorconfig-checker to 2.7.3 (restore prior behavior)
  .github/workflows/lint.yaml
Due: none
